body {
  font-family: sans-serif;
  font-size: 1.4em;
}

div.row {
  border-top:1px solid #000000;
  border-bottom:1px solid #000000;
  padding:10px;
  display:block;
}

label {
  display:block;
  float:left;
  width:180px;
  font-weight: bold;
  text-align:right;
  padding-right:10px;
}
td, th {
  text-align:left;
  border: 1px solid blue;
  padding: 8px;
}

table {
  border: 1px solid blue;
  border-collapse: collapse;
}
.button {
  color: white;
  background-color: #a52a2a;
  padding: 4px;
  font-weight: bold;
}

.error {
  color: red;
  font-weight:bold;
}

